{
    "presets": [
        "stage-1",
        "es2015"
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
            "component",
            [
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
            ]
        ]
    ]
}